@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 999px;
  }
}